{% import "trees/rhel-nightly.j2" as nightly %}
{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  {# use rhel-9 compose for s390x as workaround for: SNow: INC2087438 #}
  {% if ARCH == "s390x" %}
    <distro_family op="=" value="RedHatEnterpriseLinux9"/>
    <distro_name op="=" value="RHEL-9.1.0-20220423.1"/>
  {% else %}
    <distro_family op="=" value="CentOSStream9"/>
  {% endif %}
{% endset %}
{% set ks_append %}
  {{ nightly.ks_append(rt=TREE.endswith("-rt")) }}
  <ks_append><![CDATA[
%post
# Enable CentOS Stream 9 Buildroot for test dependencies
# not always the compose and buildroot compose have same date tag
cat >/etc/yum.repos.d/BUILDROOT-9.repo <<EOF
[BUILDROOT-C9S]
name=BUILDROOT-C9S
{% if ARCH == "s390x" -%}
  baseurl=http://download.hosts.prod.upshift.rdu2.redhat.com/rhel-9/nightly/BUILDROOT-9/BUILDROOT-9.1.0-RHEL-9-20220423.0/compose/Buildroot/{{ ARCH }}/os/
{% else -%}
  baseurl=http://download.stream.rdu2.redhat.com/koji/repos/c9s-build/latest/{{ ARCH }}
{% endif -%}
enabled=1
gpgcheck=0
EOF
%end
]]>      </ks_append>
{% endset %}
{% set host_requires %}
  {# NOTE(bgoncalv): QEMU Virtual CPU version (cpu64-rhel6) is not supported on C9S #}
  {# https://redhat.service-now.com/surl.do?n=INC1627674 #}
  {% if ARCH == "x86_64" %}
    <not>
      <or>
       <key_value key='CPUMODEL' op='=' value='QEMU Virtual CPU version (cpu64-rhel6)'/>
      </or>
    </not>
  {% endif %}
  {% if ARCH == "aarch64" %}
    <not>
      <or>
        {# NOTE(rasibley): Exclude X-Gene systems as they are unsupported for c9s and frequently abort #}
        <hostname op="like" value="hp%moonshot-%"/>
        <hostname op="like" value="apm-mustang-%"/>
        {# NOTE(rasibley): Exclude ThunderX (cn88xx) systems which are unsupported in c9s #}
        <hostname op="like" value="penguin-valkre%"/>
        <hostname op="like" value="gigabyte-r120%"/>
        <hostname op="like" value="gigabyte-r270%"/>
        {# NOTE (bgoncalv): Exclude Qualcomm Amberwings systems as they are unsupported in c9s #}
        <hostname op="like" value="qualcomm-amberwing%"/>
      </or>
    </not>
  {% endif %}
{% endset %}
